.carta {
    height: 800px;
    margin: 2rem;
}

/* Clases de bootstrap */

.clearfix {
    margin-top: 8rem;
}

.clearfix {
    img{
        border-radius: 1rem;
        }
}

.card {
    margin: 2rem;
}

.card-group{
    background-color: #00BFA6;
}